<section class="about" style="background-image:url(img/about-bg.jpg)">
    <div class="container">
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="/">Главная</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li><a href="/about.html">О компании</a></li>
            </ul>
        </div>
        <h1>о компании</h1>
        <article>
            <div class="row">
                <div class="col-lg-6">
                    <p>Компания «BielAlliance» вот уже многие годы уверенно утверждается на рынке строительных материалов. <b>Главная цель,</b> к которой стремятся сотрудники и руководство компании – <b>стать одними из лучших производителей!</b></p>
                    <p>Для нас <b>очень важно ваше доверие,</b> ведь именно атмосфера доверия является залогом продуктивного сотрудничества и постоянного развития. «BielAlliance» ценит всех своих сотрудников. Одной из основ, без которой невозможна продуктивная деятельность, это – <b>реализация личных и профессиональных целей</b> каждого члена дружной команды. </p>
                </div>
                <div class="col-lg-6 right">
                    <p>Все мы объединены общей целью и системой ценностей, именно так мы преодолеваем все трудности и неприятности на пути к высоким достижениям!</p>
                    <p><b>Главная задача – дарить нашим клиентам уверенность,</b> высокое качество и сервис на высшем уровне. Комфорт – это искусство, а «BielAlliance» – его творец.</p>
                    <p>Мы – <b>гарантия честного и качественного сотрудничества.</b> Команда единомышленников, которые призваны дарить честность, надежность и взаимовыгодное партнерство!</p>
                </div>
            </div>
        </article>
        <a href="#" class="btn"><i class="fa fa-life-ring" aria-hidden="true"></i>Получить консультацию</a>
    </div>
</section>
