<section class="basket" style="background-image:url(img/wall-bg.png)">
    <div class="container">
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="/">Главная</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li><a href="/basket.html">Оформление заказа</a></li>
            </ul>
            <div class="login">
                <i class="fa fa-user" aria-hidden="true"></i>
                <a href="/lk.html">вход</a>
                <a href="#">регистрация</a>
            </div>
        </div>
        <h2>оформление заказа</h2>
        <div class="table">
            <div class="thead">
                <div class="trow">
                    <div class="tcell">фото</div>
                    <div class="tcell">наименование товара</div>
                    <div class="tcell">метраж</div>
                    <div class="tcell">кол-во</div>
                    <div class="tcell">цена</div>
                    <div class="tcell">итого</div>
                    <div class="tcell"></div>
                </div>
            </div>
            <div class="tbody">
                <div class="trow">
                    <div class="tcell thumb">
                        <i></i>
                        <a href="#"><img src="img/product-basket.jpg" alt=""></a>
                    </div>
                    <div class="tcell title">
                        <a href="#">Ламинат CBM Koruna “814 Дуб Крумлов”</a>
                    </div>
                    <div class="tcell metric">
                        <p>Метраж:</p>
                        100 м2
                    </div>
                    <div class="tcell quantity">
                        <p>Количество:</p>
                        <button class="button">-</button><input type="text" value="1"><button class="button">+</button>
                    </div>
                    <div class="tcell one-price">
                        <p>Цена:</p>
                        1700 руб
                    </div>
                    <div class="tcell quantity-price">
                        <p>Итого:</p>
                        1700 руб
                    </div>
                    <div class="tcell del">
                        <button></button>
                    </div>
                </div>
                <div class="trow">
                    <div class="tcell thumb">
                        <i></i>
                        <a href="#"><img src="img/product-basket.jpg" alt=""></a>
                    </div>
                    <div class="tcell title">
                        <a href="#">Ламинат CBM Koruna “814 Дуб Крумлов”</a>
                    </div>
                    <div class="tcell metric">
                        <p>Метраж:</p>
                        100 м2
                    </div>
                    <div class="tcell quantity">
                        <p>Количество:</p>
                        <button class="button">-</button><input type="text" value="1"><button class="button">+</button>
                    </div>
                    <div class="tcell one-price">
                        <p>Цена:</p>
                        1700 руб
                    </div>
                    <div class="tcell quantity-price">
                        <p>Итого:</p>
                        1700 руб
                    </div>
                    <div class="tcell del">
                        <button></button>
                    </div>
                </div>
                <div class="trow">
                    <div class="tcell thumb">
                        <i></i>
                        <a href="#"><img src="img/product-basket.jpg" alt=""></a>
                    </div>
                    <div class="tcell title">
                        <a href="#">Ламинат CBM Koruna “814 Дуб Крумлов”</a>
                    </div>
                    <div class="tcell metric">
                        <p>Метраж:</p>
                        100 м2
                    </div>
                    <div class="tcell quantity">
                        <p>Количество:</p>
                        <button class="button">-</button><input type="text" value="1"><button class="button">+</button>
                    </div>
                    <div class="tcell one-price">
                        <p>Цена:</p>
                        1700 руб
                    </div>
                    <div class="tcell quantity-price">
                        <p>Итого:</p>
                        1700 руб
                    </div>
                    <div class="tcell del">
                        <button></button>
                    </div>
                </div>
                <div class="trow">
                    <div class="tcell thumb">
                        <i></i>
                        <a href="#"><img src="img/product-basket.jpg" alt=""></a>
                    </div>
                    <div class="tcell title">
                        <a href="#">Ламинат CBM Koruna “814 Дуб Крумлов”</a>
                    </div>
                    <div class="tcell metric">
                        <p>Метраж:</p>
                        100 м2
                    </div>
                    <div class="tcell quantity">
                        <p>Количество:</p>
                        <button class="button">-</button><input type="text" value="1"><button class="button">+</button>
                    </div>
                    <div class="tcell one-price">
                        <p>Цена:</p>
                        1700 руб
                    </div>
                    <div class="tcell quantity-price">
                        <p>Итого:</p>
                        1700 руб
                    </div>
                    <div class="tcell del">
                        <button></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tfooter">
            общая сумма:<span class="total-price">8500 руб</span>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <form class="basket-form">
                    <h3>введите ваши данные</h3>
                    <div class="form-content">
                        <div class="form-group">
                            <label class="control-label" for="input-name"><i class="fa fa-user" aria-hidden="true"></i>Фамилия Имя Отчество</label>
                            <input type="text" name="email" value=""  id="input-name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-phone"><i class="fa fa-phone" aria-hidden="true"></i>Телефон</label>
                            <input type="tel" name="phone" value="" id="input-phone" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-message"><i class="fa fa-comment" aria-hidden="true"></i>Комментарий к заявке</label>
                            <textarea name="message" value="" id="input-message" class="form-control" cols="30" rows="10"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn"><i class="fa fa-paper-plane" aria-hidden="true"></i>Отправить заказ</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <button type="button" class="btn hidden"><i class="fa fa-paper-plane" aria-hidden="true"></i>Отправить заказ</button>
    </div>
</section>
