<section class="catalog" style="background-image:url(img/wall-bg.png)">
    <div class="container">
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="/">Главная</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li><a href="/catalog.html">Каталог</a></li>
            </ul>
        </div>
        <h2>Каталог</h2>
        <nav class="category-mnu">
            <div class="btn-group">
                <button type="button" class="dropdown-toggle">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </button>
                <button type="button" class="category-mnu-btn">Доска</button>
                <ul class="dropdown-menu">
                    <li><button type="button" class="category-mnu-btn">Доска</button></li>
                    <li><button type="button" class="category-mnu-btn">Доска</button></li>
                    <li><button type="button" class="category-mnu-btn">Доска</button></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="category-mnu-btn">Доска</button>
                <button type="button" class="dropdown-toggle">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><button type="button" class="category-mnu-btn">Доска</button></li>
                    <li><div class="btn-group">
                        <button type="button" class="category-mnu-btn">Доска</button>
                        <button type="button" class="dropdown-toggle">
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><button type="button" class="category-mnu-btn">Доска</button></li>
                            <li><button type="button" class="category-mnu-btn">Доска</button></li>
                            <li><button type="button" class="category-mnu-btn">Доска</button></li>
                        </ul>
                    </div></li>
                    <li><button type="button" class="category-mnu-btn">Доска</button></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="category-mnu-btn">Доска</button>
                <button type="button" class="dropdown-toggle">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><button type="button" class="category-mnu-btn">Доска</button></li>
                    <li><div class="btn-group">
                        <button type="button" class="category-mnu-btn">Доска</button>
                        <button type="button" class="dropdown-toggle">
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><button type="button" class="category-mnu-btn">Доска</button></li>
                            <li><button type="button" class="category-mnu-btn">Доска</button></li>
                            <li><button type="button" class="category-mnu-btn">Доска</button></li>
                        </ul>
                    </div></li>
                    <li><button type="button" class="category-mnu-btn">Доска</button></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="category-mnu-btn">Доска</button>
                <button type="button" class="dropdown-toggle">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><button type="button" class="category-mnu-btn">Доска</button></li>
                    <li><div class="btn-group">
                        <button type="button" class="category-mnu-btn">Доска</button>
                        <button type="button" class="dropdown-toggle">
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><button type="button" class="category-mnu-btn">Доска</button></li>
                            <li><button type="button" class="category-mnu-btn">Доска</button></li>
                            <li><button type="button" class="category-mnu-btn">Доска</button></li>
                        </ul>
                    </div></li>
                    <li><button type="button" class="category-mnu-btn">Доска</button></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="category-mnu-btn">Доска</button>
                <button type="button" class="dropdown-toggle">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><button type="button" class="category-mnu-btn">Доска</button></li>
                    <li><div class="btn-group">
                        <button type="button" class="category-mnu-btn">Доска</button>
                        <button type="button" class="dropdown-toggle">
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><button type="button" class="category-mnu-btn">Доска</button></li>
                            <li><button type="button" class="category-mnu-btn">Доска</button></li>
                            <li><button type="button" class="category-mnu-btn">Доска</button></li>
                        </ul>
                    </div></li>
                    <li><button type="button" class="category-mnu-btn">Доска</button></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="category-mnu-btn">Доска</button>
                <button type="button" class="dropdown-toggle">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><button type="button" class="category-mnu-btn">Доска</button></li>
                    <li><div class="btn-group">
                        <button type="button" class="category-mnu-btn">Доска</button>
                        <button type="button" class="dropdown-toggle">
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><button type="button" class="category-mnu-btn">Доска</button></li>
                            <li><button type="button" class="category-mnu-btn">Доска</button></li>
                            <li><button type="button" class="category-mnu-btn">Доска</button></li>
                        </ul>
                    </div></li>
                    <li><button type="button" class="category-mnu-btn">Доска</button></li>
                </ul>
            </div>
        </nav>
        <div class="row products">
            <div class="product-card-wrap col-md-4 col-sm-6">
                <div class="product-card">
                    <div class="img-wrap">
                        <img src="img/product-card-preview1.jpg" alt="">
                        <button type="button" data-toggle="modal" data-target="#myModal"></button>
                    </div>
                    <h3>Ламинат CBM Koruna “814 Дуб Крумлов”</h3>
                    <div class="table">
                        <div class="tbody">
                            <div class="trow hr">
                                <div class="tcell">Цвет</div>
                                <div class="tcell">Дуб Крумлов</div>
                            </div>
                            <div class="trow">
                                <div class="tcell">Коллекция</div>
                                <div class="tcell">Koruna</div>
                            </div>
                            <div class="trow">
                                <div class="tcell">Класс</div>
                                <div class="tcell">33 класс</div>
                            </div>
                            <div class="trow">
                                <div class="tcell">Размер</div>
                                <div class="tcell">606х101х12 мм</div>
                            </div>
                            <div class="trow footer hr">
                                <div class="tcell">Цена</div>
                                <div class="tcell">1700 руб/м2</div>
                            </div>
                            <div class="trow footer">
                                <div class="tcell">Цена за упаковку</div>
                                <div class="tcell">1700 руб</div>
                            </div>
                        </div>
                    </div>
                    <a href="/product.html" class="btn">в карточку товара<i class="fa fa-angle-double-right"></i></a>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog product-card-slider" role="document">
                            <div class="modal-content">
                                <button type="button" class="product-card-slider-btn" data-dismiss="modal">Закрыть</button>
                                <div class="owl-carousel">
                                    <div class="item">
                                        <img src="img/product-card-slide1.jpg" alt="">
                                        <div class="descr">
                                            <h3>Ламинат CBM Koruna <b>“814 Дуб Крумлов”</b></h3>
                                            <a class="btn" href="">в карточку товара <i class="fa fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="img/product-card-slide1.jpg" alt="">
                                        <div class="descr">
                                            <h3>Ламинат CBM Koruna <b>“814 Дуб Крумлов”</b></h3>
                                            <a class="btn" href="">в карточку товара <i class="fa fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="img/product-card-slide1.jpg" alt="">
                                        <div class="descr">
                                            <h3>Ламинат CBM Koruna <b>“814 Дуб Крумлов”</b></h3>
                                            <a class="btn" href="">в карточку товара <i class="fa fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-card-wrap col-md-4 col-sm-6">
                <div class="product-card">
                    <div class="img-wrap">
                        <img src="img/product-card-preview1.jpg" alt="">
                        <button type="button" data-toggle="modal" data-target="#myModal"></button>
                    </div>
                    <h3>Ламинат CBM Koruna “814 Дуб Крумлов”</h3>
                    <div class="table">
                        <div class="tbody">
                            <div class="trow hr">
                                <div class="tcell">Цвет</div>
                                <div class="tcell">Дуб Крумлов</div>
                            </div>
                            <div class="trow">
                                <div class="tcell">Коллекция</div>
                                <div class="tcell">Koruna</div>
                            </div>
                            <div class="trow">
                                <div class="tcell">Класс</div>
                                <div class="tcell">33 класс</div>
                            </div>
                            <div class="trow">
                                <div class="tcell">Размер</div>
                                <div class="tcell">606х101х12 мм</div>
                            </div>
                            <div class="trow footer hr">
                                <div class="tcell">Цена</div>
                                <div class="tcell">1700 руб/м2</div>
                            </div>
                            <div class="trow footer">
                                <div class="tcell">Цена за упаковку</div>
                                <div class="tcell">1700 руб</div>
                            </div>
                        </div>
                    </div>
                    <a href="/product.html" class="btn">в карточку товара<i class="fa fa-angle-double-right"></i></a>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog product-card-slider" role="document">
                            <div class="modal-content">
                                <button type="button" class="product-card-slider-btn" data-dismiss="modal">Закрыть</button>
                                <div class="owl-carousel">
                                    <div class="item">
                                        <img src="img/product-card-slide1.jpg" alt="">
                                        <div class="descr">
                                            <h3>Ламинат CBM Koruna <b>“814 Дуб Крумлов”</b></h3>
                                            <a class="btn" href="">в карточку товара <i class="fa fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="img/product-card-slide1.jpg" alt="">
                                        <div class="descr">
                                            <h3>Ламинат CBM Koruna <b>“814 Дуб Крумлов”</b></h3>
                                            <a class="btn" href="">в карточку товара <i class="fa fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="img/product-card-slide1.jpg" alt="">
                                        <div class="descr">
                                            <h3>Ламинат CBM Koruna <b>“814 Дуб Крумлов”</b></h3>
                                            <a class="btn" href="">в карточку товара <i class="fa fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-card-wrap col-md-4 col-sm-6">
                <div class="product-card">
                    <div class="img-wrap">
                        <img src="img/product-card-preview1.jpg" alt="">
                        <button type="button" data-toggle="modal" data-target="#myModal"></button>
                    </div>
                    <h3>Ламинат CBM Koruna “814 Дуб Крумлов”</h3>
                    <div class="table">
                        <div class="tbody">
                            <div class="trow hr">
                                <div class="tcell">Цвет</div>
                                <div class="tcell">Дуб Крумловsdfsfsdfsdf</div>
                            </div>
                            <div class="trow">
                                <div class="tcell">Коллекция</div>
                                <div class="tcell">Koruna</div>
                            </div>
                            <div class="trow">
                                <div class="tcell">Класс</div>
                                <div class="tcell">33 класс</div>
                            </div>
                            <div class="trow">
                                <div class="tcell">Размер</div>
                                <div class="tcell">606х101х12 мм</div>
                            </div>
                            <div class="trow footer hr">
                                <div class="tcell">Цена</div>
                                <div class="tcell">1700 руб/м2</div>
                            </div>
                            <div class="trow footer">
                                <div class="tcell">Цена за упаковку</div>
                                <div class="tcell">1700 руб</div>
                            </div>
                        </div>
                    </div>
                    <a href="/product.html" class="btn">в карточку товара<i class="fa fa-angle-double-right"></i></a>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog product-card-slider" role="document">
                            <div class="modal-content">
                                <button type="button" class="product-card-slider-btn" data-dismiss="modal">Закрыть</button>
                                <div class="owl-carousel">
                                    <div class="item">
                                        <img src="img/product-card-slide1.jpg" alt="">
                                        <div class="descr">
                                            <h3>Ламинат CBM Koruna <b>“814 Дуб Крумлов”</b></h3>
                                            <a class="btn" href="">в карточку товара <i class="fa fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="img/product-card-slide1.jpg" alt="">
                                        <div class="descr">
                                            <h3>Ламинат CBM Koruna <b>“814 Дуб Крумлов”</b></h3>
                                            <a class="btn" href="">в карточку товара <i class="fa fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="img/product-card-slide1.jpg" alt="">
                                        <div class="descr">
                                            <h3>Ламинат CBM Koruna <b>“814 Дуб Крумлов”</b></h3>
                                            <a class="btn" href="">в карточку товара <i class="fa fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-card-wrap col-md-4 col-sm-6">
                <div class="product-card">
                    <div class="img-wrap">
                        <img src="img/product-card-preview1.jpg" alt="">
                        <button type="button" data-toggle="modal" data-target="#myModal"></button>
                    </div>
                    <h3>Ламинат CBM Koruna “814 Дуб Крумлов”</h3>
                    <div class="table">
                        <div class="tbody">
                            <div class="trow hr">
                                <div class="tcell">Цвет</div>
                                <div class="tcell">Дуб Крумлsdsdfsdfов</div>
                            </div>
                            <div class="trow">
                                <div class="tcell">Коллекция</div>
                                <div class="tcell">Koruna</div>
                            </div>
                            <div class="trow">
                                <div class="tcell">Класс</div>
                                <div class="tcell">33 класс</div>
                            </div>
                            <div class="trow">
                                <div class="tcell">Размер</div>
                                <div class="tcell">606х101х12 мм</div>
                            </div>
                            <div class="trow footer hr">
                                <div class="tcell">Цена</div>
                                <div class="tcell">1700 руб/м2</div>
                            </div>
                            <div class="trow footer">
                                <div class="tcell">Цена за упаковку</div>
                                <div class="tcell">1700 руб</div>
                            </div>
                        </div>
                    </div>
                    <a href="/product.html" class="btn">в карточку товара<i class="fa fa-angle-double-right"></i></a>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog product-card-slider" role="document">
                            <div class="modal-content">
                                <button type="button" class="product-card-slider-btn" data-dismiss="modal">Закрыть</button>
                                <div class="owl-carousel">
                                    <div class="item">
                                        <img src="img/product-card-slide1.jpg" alt="">
                                        <div class="descr">
                                            <h3>Ламинат CBM Koruna <b>“814 Дуб Крумлов”</b></h3>
                                            <a class="btn" href="">в карточку товара <i class="fa fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="img/product-card-slide1.jpg" alt="">
                                        <div class="descr">
                                            <h3>Ламинат CBM Koruna <b>“814 Дуб Крумлов”</b></h3>
                                            <a class="btn" href="">в карточку товара <i class="fa fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="img/product-card-slide1.jpg" alt="">
                                        <div class="descr">
                                            <h3>Ламинат CBM Koruna <b>“814 Дуб Крумлов”</b></h3>
                                            <a class="btn" href="">в карточку товара <i class="fa fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-card-wrap col-md-4 col-sm-6">
                <div class="product-card">
                    <div class="img-wrap">
                        <img src="img/product-card-preview1.jpg" alt="">
                        <button type="button" data-toggle="modal" data-target="#myModal"></button>
                    </div>
                    <h3>Ламинат CBM Koruna “814 Дуб Крумлов”</h3>
                    <div class="table">
                        <div class="tbody">
                            <div class="trow hr">
                                <div class="tcell">Цвет</div>
                                <div class="tcell">Дуб Крумлов</div>
                            </div>
                            <div class="trow">
                                <div class="tcell">Коллекция</div>
                                <div class="tcell">Koruna</div>
                            </div>
                            <div class="trow">
                                <div class="tcell">Класс</div>
                                <div class="tcell">33 класс</div>
                            </div>
                            <div class="trow">
                                <div class="tcell">Размер</div>
                                <div class="tcell">606х101х12 мм</div>
                            </div>
                            <div class="trow footer hr">
                                <div class="tcell">Цена</div>
                                <div class="tcell">1700 руб/м2</div>
                            </div>
                            <div class="trow footer">
                                <div class="tcell">Цена за упаковку</div>
                                <div class="tcell">1700 руб</div>
                            </div>
                        </div>
                    </div>
                    <a href="/product.html" class="btn">в карточку товара<i class="fa fa-angle-double-right"></i></a>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog product-card-slider" role="document">
                            <div class="modal-content">
                                <button type="button" class="product-card-slider-btn" data-dismiss="modal">Закрыть</button>
                                <div class="owl-carousel">
                                    <div class="item">
                                        <img src="img/product-card-slide1.jpg" alt="">
                                        <div class="descr">
                                            <h3>Ламинат CBM Koruna <b>“814 Дуб Крумлов”</b></h3>
                                            <a class="btn" href="">в карточку товара <i class="fa fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="img/product-card-slide1.jpg" alt="">
                                        <div class="descr">
                                            <h3>Ламинат CBM Koruna <b>“814 Дуб Крумлов”</b></h3>
                                            <a class="btn" href="">в карточку товара <i class="fa fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="img/product-card-slide1.jpg" alt="">
                                        <div class="descr">
                                            <h3>Ламинат CBM Koruna <b>“814 Дуб Крумлов”</b></h3>
                                            <a class="btn" href="">в карточку товара <i class="fa fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-card-wrap col-md-4 col-sm-6">
                <div class="product-card">
                    <div class="img-wrap">
                        <img src="img/product-card-preview1.jpg" alt="">
                        <button type="button" data-toggle="modal" data-target="#myModal"></button>
                    </div>
                    <h3>Ламинат CBM Koruna “814 Дуб Крумлов”</h3>
                    <div class="table">
                        <div class="tbody">
                            <div class="trow hr">
                                <div class="tcell">Цвет</div>
                                <div class="tcell">Дуб Крумловdsfsdf</div>
                            </div>
                            <div class="trow">
                                <div class="tcell">Коллекция</div>
                                <div class="tcell">Koruna</div>
                            </div>
                            <div class="trow">
                                <div class="tcell">Класс</div>
                                <div class="tcell">33 класс</div>
                            </div>
                            <div class="trow">
                                <div class="tcell">Размер</div>
                                <div class="tcell">606х101х12 мм</div>
                            </div>
                            <div class="trow footer hr">
                                <div class="tcell">Цена</div>
                                <div class="tcell">1700 руб/м2</div>
                            </div>
                            <div class="trow footer">
                                <div class="tcell">Цена за упаковку</div>
                                <div class="tcell">1700 руб</div>
                            </div>
                        </div>
                    </div>
                    <a href="/product.html" class="btn">в карточку товара<i class="fa fa-angle-double-right"></i></a>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog product-card-slider" role="document">
                            <div class="modal-content">
                                <button type="button" class="product-card-slider-btn" data-dismiss="modal">Закрыть</button>
                                <div class="owl-carousel">
                                    <div class="item">
                                        <img src="img/product-card-slide1.jpg" alt="">
                                        <div class="descr">
                                            <h3>Ламинат CBM Koruna <b>“814 Дуб Крумлов”</b></h3>
                                            <a class="btn" href="">в карточку товара <i class="fa fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="img/product-card-slide1.jpg" alt="">
                                        <div class="descr">
                                            <h3>Ламинат CBM Koruna <b>“814 Дуб Крумлов”</b></h3>
                                            <a class="btn" href="">в карточку товара <i class="fa fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="img/product-card-slide1.jpg" alt="">
                                        <div class="descr">
                                            <h3>Ламинат CBM Koruna <b>“814 Дуб Крумлов”</b></h3>
                                            <a class="btn" href="">в карточку товара <i class="fa fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
