<section class="certificates" style="background-image:url(img/wall-bg.png)">
    <h2>сертификаты</h2>
    <div class="container">
        <div class="owl-carousel">
            <a href="img/certificate1-full.jpg" class="item" data-fancybox>
                <img src="img/certificate1.jpg" alt="">
            </a>
            <a href="img/certificate2-full.jpg" class="item" data-fancybox>
                <img src="img/certificate2.jpg" alt="">
            </a>
            <a href="img/certificate3-full.jpg" class="item" data-fancybox>
                <img src="img/certificate3.jpg" alt="">
            </a>
            <a href="img/certificate4-full.jpg" class="item" data-fancybox>
                <img src="img/certificate4.jpg" alt="">
            </a>
            <a href="img/certificate5-full.jpg" class="item" data-fancybox>
                <img src="img/certificate5.jpg" alt="">
            </a>
            <a href="img/certificate6-full.jpg" class="item" data-fancybox>
                <img src="img/certificate6.jpg" alt="">
            </a>
            <a href="img/certificate4-full.jpg" class="item" data-fancybox>
                <img src="img/certificate4.jpg" alt="">
            </a>
        </div>
    </div>
</section>
