<!DOCTYPE html>
<html lang="ru">

<head>
	<base href="/">
	<meta charset="utf-8">

	<title>Biela</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Template Basic Images Start -->
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
	<!-- Template Basic Images End -->

	<!-- Custom Browsers Color Start -->
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">
	<!-- Custom Browsers Color End -->
	<script src="js/libs.js"></script>
	<script src="js/common.js"></script>
	<style>body{opacity:0;overflow-y:hidden}html{background-color:#fff}</style>
</head>

<body id='test'>

	<header class="main-header">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-3 col-xs-6">
					<a href="/" class="logo"><img src="img/logo.png" alt="логотип"></a>
				</div>
				<div class="col-md-8 col-sm-6 col-xs-6">
					<div class="top-line">
						<a href="tel:+7 495 778 52 23" class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+7 495 778 52 23</a>
						<a href="mailto:info@biela.ru" class="mail"><i class="fa fa-envelope" aria-hidden="true"></i>info@biela.ru</a>
						<div class="socials">
							<a href="#" target="_blank" rel="noopener"><i class="fa fa-vk" aria-hidden="true"></i></a>
							<a href="#" target="_blank" rel="noopener"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#" target="_blank" rel="noopener"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						</div>
					</div>
					<nav>
						<button class="btn-mob-menu"><i></i>меню</button>
						<ul class="top-nav">
							<li><a href="/">Главная</a></li>
							<li><a href="/about.html">О компании</a></li>
							<li><a href="/catalog.html">Каталог</a></li>
						</ul>
						<ul class="bottom-nav"><!--
						--><li><a href="#">Интерактивная комната</a></li><!--
						--><li><a href="/partners.html">Партнерам и дизайнерам</a></li><!--
						--><li><a href="#">где купить</a></li>
							<li class="socials">
								<div class="socials">
									<a href="#" target="_blank" rel="noopener"><i class="fa fa-vk" aria-hidden="true"></i></a>
									<a href="#" target="_blank" rel="noopener"><i class="fa fa-facebook" aria-hidden="true"></i></a>
									<a href="#" target="_blank" rel="noopener"><i class="fa fa-instagram" aria-hidden="true"></i></a>
								</div>
							</li>
						</ul>
					</nav>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-12">
					<nav class="mobile-nav">
						<button class="btn-mob-menu"><i></i>меню</button>
						<ul class="top-nav">
							<li><a href="/">Главная</a></li>
							<li><a href="/about.html">О компании</a></li>
							<li><a href="/catalog.html">Каталог</a></li>
						</ul>
						<ul class="bottom-nav">
							<li><a href="#">Интерактивная комната</a></li>
							<li><a href="/partners.html">Партнерам и дизайнерам</a></li>
							<li><a href="#">где купить</a></li>
						</ul>
					</nav>
					<a href="/basket.html" id="basket">
						<i class="fa fa-shopping-basket" aria-hidden="true"></i>
						<b>в корзине:</b>
						<p>30 товаров</p>
						<span>(15 861 руб.)</span>
					</a>
				</div>
			</div>
		</div>

	</header>
