<section class="lk" style="background-image:url(img/wall-bg.png)">
    <div class="container">
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="/">Главная</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li><a href="/basket.html">Оформление заказа</a></li>
            </ul>
            <div class="login">
                <i class="fa fa-user" aria-hidden="true"></i>
                <a href="/lk.html">вход</a>
                <a href="#">регистрация</a>
            </div>
        </div>
        <h2>Личный кабинет</h2>
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <aside class="tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#lk-tab1" role="tab" data-toggle="tab">Персональные данные</a></li>
                        <li><a href="#lk-tab2" role="tab" data-toggle="tab">Архив заказов</a></li>
                        <li><a href="#lk-tab3" role="tab" data-toggle="tab">заказы</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-md-9 col-sm-8">
                <div class="tab-content">
                    <section role="tabpanel" class="tab-pane active" id="lk-tab1">
                        <h3>Ваши персональные данные:</h3>
                        <form>
                            <div class="table">
                                <div class="tbody">
                                    <div class="trow">
                                        <div class="tcell">
                                            Фамилия
                                        </div>
                                        <div class="tcell">
                                            <div class="form-group">
                                                <p>Фамилия:</p>
                                                <input class="form-control" type="text" name="" value="Иванов" disabled>
                                                <button><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="trow">
                                        <div class="tcell">
                                            Фамилия
                                        </div>
                                        <div class="tcell">
                                            <div class="form-group">
                                                <p>Фамилия:</p>
                                                <input class="form-control" type="text" name="" value="Иванов">
                                                <button><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="trow">
                                        <div class="tcell">
                                            Фамилия
                                        </div>
                                        <div class="tcell">
                                            <div class="form-group">
                                                <p>Фамилия:</p>
                                                <input class="form-control" type="text" name="" value="Иванов">
                                                <button><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="trow">
                                        <div class="tcell">
                                            Фамилия
                                        </div>
                                        <div class="tcell">
                                            <div class="form-group">
                                                <p>Фамилия:</p>
                                                <input class="form-control" type="text" name="" value="Иванов">
                                                <button><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="trow">
                                        <div class="tcell">
                                            Фамилия
                                        </div>
                                        <div class="tcell">
                                            <div class="form-group">
                                                <p>Фамилия:</p>
                                                <input class="form-control" type="text" name="" value="Иванов">
                                                <button><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="trow">
                                        <div class="tcell">
                                            Фамилия
                                        </div>
                                        <div class="tcell">
                                            <div class="form-group">
                                                <p>Фамилия:</p>
                                                <input class="form-control" type="text" name="" value="Иванов">
                                                <button><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="trow">
                                        <div class="tcell">
                                            Фамилия
                                        </div>
                                        <div class="tcell">
                                            <div class="form-group">
                                                <p>Фамилия:</p>
                                                <input class="form-control" type="text" name="" value="Иванов">
                                                <button><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="trow">
                                        <div class="tcell">
                                            Фамилия
                                        </div>
                                        <div class="tcell">
                                            <div class="form-group">
                                                <p>Фамилия:</p>
                                                <input class="form-control" type="text" name="" value="Иванов">
                                                <button><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="trow">
                                        <div class="tcell">
                                            Фамилия
                                        </div>
                                        <div class="tcell">
                                            <div class="form-group">
                                                <p>Фамилия:</p>
                                                <input class="form-control" type="text" name="" value="Иванов">
                                                <button><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="trow">
                                        <div class="tcell">
                                            Фамилия
                                        </div>
                                        <div class="tcell">
                                            <div class="form-group">
                                                <p>Фамилия:</p>
                                                <input class="form-control" type="text" name="" value="Иванов">
                                                <button><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn"><i class="fa fa-floppy-o right" aria-hidden="true"></i>Сохранить</button>
                        </form>
                    </section>
                    <section role="tabpanel" class="tab-pane" id="lk-tab2">
                        <h3>Архив ваших заказов:</h3>
                        <div class="table">
                            <div class="thead">
                                <div class="trow">
                                    <div class="tcell">номер заказа</div>
                                    <div class="tcell">дата заказа</div>
                                    <div class="tcell">сумма заказа</div>
                                    <div class="tcell">дата доставки</div>
                                    <div class="tcell">Статус</div>
                                    <div class="tcell">Скачать счет</div>
                                </div>
                            </div>
                            <div class="tbody">
                                <div class="trow">
                                    <div class="tcell order-number">
                                        <i>1.</i>
                                        <p>Номер заказа:</p>
                                        №123456
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Дата заказа:</p>
                                        18.12.2016
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Сумма заказа:</p>
                                        17 000 руб
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Дата доставки:</p>
                                        20.12.2016
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Статус:</p>
                                        В ожидании
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Скачать счет:</p>
                                        <a href="#">Счет</a>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tcell order-number">
                                        <i></i>
                                        <p>Номер заказа:</p>
                                        №123456
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Дата заказа:</p>
                                        18.12.2016
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Сумма заказа:</p>
                                        17 000 руб
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Дата доставки:</p>
                                        20.12.2016
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Статус:</p>
                                        В ожидании
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Скачать счет:</p>
                                        <a href="#">Счет</a>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tcell order-number">
                                        <i></i>
                                        <p>Номер заказа:</p>
                                        №123456
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Дата заказа:</p>
                                        18.12.2016
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Сумма заказа:</p>
                                        17 000 руб
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Дата доставки:</p>
                                        20.12.2016
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Статус:</p>
                                        В ожидании
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Скачать счет:</p>
                                        <a href="#">Счет</a>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tcell order-number">
                                        <i></i>
                                        <p>Номер заказа:</p>
                                        №123456
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Дата заказа:</p>
                                        18.12.2016
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Сумма заказа:</p>
                                        17 000 руб
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Дата доставки:</p>
                                        20.12.2016
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Статус:</p>
                                        В ожидании
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Скачать счет:</p>
                                        <a href="#">Счет</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section role="tabpanel" class="tab-pane" id="lk-tab3">
                        <h3>Ваши актуальные заказы:</h3>
                        <div class="table">
                            <div class="thead">
                                <div class="trow">
                                    <div class="tcell">номер заказа</div>
                                    <div class="tcell">дата заказа</div>
                                    <div class="tcell">сумма заказа</div>
                                    <div class="tcell">Статус</div>
                                    <div class="tcell">Скачать счет</div>
                                </div>
                            </div>
                            <div class="tbody">
                                <div class="trow">
                                    <div class="tcell order-number">
                                        <i></i>
                                        <p>Номер заказа:</p>
                                        №123456
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Дата заказа:</p>
                                        18.12.2016
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Сумма заказа:</p>
                                        17 000 руб
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Статус:</p>
                                        В ожидании
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Скачать счет:</p>
                                        <a href="#">Счет</a>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tcell order-number">
                                        <i></i>
                                        <p>Номер заказа:</p>
                                        №123456
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Дата заказа:</p>
                                        18.12.2016
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Сумма заказа:</p>
                                        17 000 руб
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Статус:</p>
                                        В ожидании
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Скачать счет:</p>
                                        <a href="#">Счет</a>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tcell order-number">
                                        <i></i>
                                        <p>Номер заказа:</p>
                                        №123456
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Дата заказа:</p>
                                        18.12.2016
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Сумма заказа:</p>
                                        17 000 руб
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Статус:</p>
                                        В ожидании
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Скачать счет:</p>
                                        <a href="#">Счет</a>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tcell order-number">
                                        <i></i>
                                        <p>Номер заказа:</p>
                                        №123456
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Дата заказа:</p>
                                        18.12.2016
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Сумма заказа:</p>
                                        17 000 руб
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Статус:</p>
                                        В ожидании
                                    </div>
                                    <div class="tcell order-number">
                                        <p>Скачать счет:</p>
                                        <a href="#">Счет</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
