<section class="main-slider">
    <div class="container">
        <div class="owl-carousel">
            <div class="item">
                <p>Чешский ламинат</p>
                <a href="#" class="btn">Перейти в каталог<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
            <div class="item">
                <p>Чешский ламинат</p>
                <a href="#" class="btn">Перейти в каталог<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
            <div class="item">
                <p>Чешский ламинат</p>
                <a href="#" class="btn">Перейти в каталог<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
            <div class="item">
                <p>Передовые технологии<br>производства</p>
                <a href="#" class="btn">Перейти в каталог<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="/about.html">О компании</a></li>
            <li><a href="#">Каталог</a></li>
        </ul>
    </nav>
</section>

<section class="advantages">
    <h2><span>Ламинат компании «Biela» отличается следующими</span>конкурентными преимуществами</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-4">
                <aside>
                    <img src="img/advantages-img1.jpg" alt="Ламинат">
                    <img src="img/advantages-img2.jpg" alt="Ламинат">
                    <img src="img/advantages-img3.jpg" alt="Ламинат">
                </aside>
            </div>
            <div class="col-lg-7 col-md-8">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <a data-toggle="collapse" data-parent="#accordion" href="#panel-1"><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span><p>Стойкий к внешним воздействиям</p><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        <div id="panel-1" class="panel-collapse collapse in" role="tabpanel">
                            <p>Антистатическое покрытие предотвращает образование грязи и скопление пыли</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <a data-toggle="collapse" data-parent="#accordion" href="#panel-2"><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span><p>Уборка пола не доставляет хлопот</p><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        <div id="panel-2" class="panel-collapse collapse" role="tabpanel">
                            <p>Антистатическое покрытие предотвращает образование грязи и скопление пыли</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <a data-toggle="collapse" data-parent="#accordion" href="#panel-3"><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span><p>Экологически чистый</p><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        <div id="panel-3" class="panel-collapse collapse" role="tabpanel">
                            <p>Антистатическое покрытие предотвращает образование грязи и скопление пыли</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <a data-toggle="collapse" data-parent="#accordion" href="#panel-4"><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span><p>Безопасный для детей и аллергиков</p><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        <div id="panel-4" class="panel-collapse collapse" role="tabpanel">
                            <p>Антистатическое покрытие предотвращает образование грязи и скопление пыли</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <a data-toggle="collapse" data-parent="#accordion" href="#panel-5"><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span><p>Быстрый и простой монтаж</p><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        <div id="panel-5" class="panel-collapse collapse" role="tabpanel">
                            <p>Антистатическое покрытие предотвращает образование грязи и скопление пыли</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <a data-toggle="collapse" data-parent="#accordion" href="#panel-6"><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span><p>Обработка воском в замковой части</p><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        <div id="panel-6" class="panel-collapse collapse" role="tabpanel">
                            <p>Антистатическое покрытие предотвращает образование грязи и скопление пыли</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <a data-toggle="collapse" data-parent="#accordion" href="#panel-7"><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span><p>Класс пожаробезопасности В3</p><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        <div id="panel-7" class="panel-collapse collapse" role="tabpanel">
                            <p>Антистатическое покрытие предотвращает образование грязи и скопление пыли</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <a data-toggle="collapse" data-parent="#accordion" href="#panel-8"><span class="check"><i class="fa fa-check" aria-hidden="true"></i></span><p>Использование прочных бесклеевых замковых систем</p><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        <div id="panel-8" class="panel-collapse collapse" role="tabpanel">
                            <p>Антистатическое покрытие предотвращает образование грязи и скопление пыли</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#callback" data-toggle="modal" class="btn"><i class="fa fa-phone" aria-hidden="true"></i>Заказать обратный звонок</a>
</section>

<section class="technology">
    <header>
        <h2>Технологии производства позволяют</h2>
    </header>
    <div class="wrapper">
        <div class="container">
            <aside class="technology-left">
                <a href="#" class="item"><p>Производить покрытия, не содержащие растворителей<br> и меламина</p></a>
                <a href="#" class="item"><p>Использовать HDF плиту с содержанием<br> формальдегида не больше, чем в натуральном дереве</p></a>
                <a href="#" class="item"><p>Предотвращать<br> запыленность пола, так как покрытие антистатическое</p></a>
                <a href="#" class="item"><p>Использовать подогреваемые полы всех типов</p></a>
            </aside>
            <img src="img/technology-center.jpg" alt="Технологии производства">
            <aside class="technology-right">
                <a href="#" class="item"><p>Производить покрытие устойчивое к воздействию химикатов</p></a>
                <a href="#" class="item"><p>Благодаря прозрачности покрытия сохранять текстуру<br> и рисунок, сохраняя<br> сочность цвета</p></a>
                <a href="#" class="item"><p>Позволяет изготавливать плавную фаску, имитирующую натуральную доску</p></a>
                <a href="#" class="item"><p>Производить покрытие устойчивое к воздействию ультрафиолетовых лучей, препятствующего выгоранию</p></a>
            </aside>
        </div>
        <a href="#callback" data-toggle="modal" class="btn"><i class="fa fa-phone" aria-hidden="true"></i>Заказать обратный звонок</a>
    </div>
</section>

<section class="properties">
    <h2>Свойства чешского ламината</h2>
    <div class="container">
        <div class="item">
            <div class="img-wrap"><img src="img/properties-icon1.png" alt="Антистатическое покрытие"></div>
            <p>Антистатическое покрытие</p>
        </div>
        <div class="item">
            <div class="img-wrap"><img src="img/properties-icon2.png" alt="Класс пожаробезопасности B3"></div>
            <p>Класс пожаро<span>-</span>безопасности B3</p>
        </div>
        <div class="item">
            <div class="img-wrap"><img src="img/properties-icon3.png" alt="Легко моющаяся поверхность"></div>
            <p>Легко моющаяся поверхность</p>
        </div>
        <div class="item">
            <div class="img-wrap"><img src="img/properties-icon4.png" alt="Устойчив к воздействию горящей сигареты"></div>
            <p>Устойчив к воздействию горящей сигареты</p>
        </div>
        <div class="item">
            <div class="img-wrap"><img src="img/properties-icon5.png" alt="Ударопрочный"></div>
            <p>Ударопрочный</p>
        </div>
        <div class="item">
            <div class="img-wrap"><img src="img/properties-icon6.png" alt="Гигиеничный"></div>
            <p>Гигиеничный</p>
        </div>
        <div class="item">
            <div class="img-wrap"><img src="img/properties-icon7.png" alt="Устойчивость к воздействию солнечных лучей и ультрафиолета"></div>
            <p>Устойчивость к воздействию солнечных лучей и ультрафиолета</p>
        </div>
        <div class="item">
            <div class="img-wrap"><img src="img/properties-icon8.png" alt="Устойчивость к воздействию бытовых химических веществ (чистящие средства)"></div>
            <p>Устойчивость к воздействию бытовых химических веществ (чистящие средства)</p>
        </div>
        <div class="item">
            <div class="img-wrap"><img src="img/properties-icon9.png" alt="Пригоден для использования с системами "Теплый пол""></div>
            <p>Пригоден для использования с системами "Теплый пол"</p>
        </div>
        <div class="item">
            <div class="img-wrap"><img src="img/properties-icon10.png" alt="Защищен от образования пятен после воздействия красителей (красное вино)"></div>
            <p>Защищен от образования пятен после воздействия красителей (красное вино)</p>
        </div>
        <div class="item">
            <div class="img-wrap"><img src="img/properties-icon11.png" alt="Изготовлено из экологически чистых и безопасных для здоровья материалов"></div>
            <p>Изготовлено из экологически чистых и безопасных для здоровья материалов</p>
        </div>
        <div class="item">
            <div class="img-wrap"><img src="img/properties-icon12.png" alt="Соответствует самым строгим требованиям (E1)"></div>
            <p>Соответствует самым строгим требованиям (E1)</p>
        </div>
        <div class="item">
            <div class="img-wrap"><img src="img/properties-icon13.png" alt="Пригоден для эксплуатации в жилых и общественных зданиях"></div>
            <p>Пригоден для эксплуатации в жилых и общественных зданиях</p>
        </div>
        <div class="item">
            <div class="img-wrap"><img src="img/properties-icon14.png" alt="Неустойчив к воздействию абразивных материалов"></div>
            <p>Неустойчив к воздействию абразивных материалов</p>
        </div>
        <div class="item">
            <div class="img-wrap"><img src="img/properties-icon15.png" alt="Достаточно влажной уборки"></div>
            <p>Достаточно влажной уборки</p>
        </div>
        <div class="item">
            <div class="img-wrap"><img src="img/properties-icon16.png" alt="Пригоден для укладки в жилых и общественных зданиях (высокий класс прочности)"></div>
            <p>Пригоден для укладки в жилых и общественных зданиях (высокий класс прочности)</p>
        </div>
        <div class="item">
            <div class="img-wrap"><img src="img/properties-icon17.png" alt="Отличная шумоизоляцияи, приглушает звук производимый при ходьбе"></div>
            <p>Отличная шумоизоляцияи, приглушает звук производимый при ходьбе</p>
        </div>
    </div>
</section>
