<section class="partners" style="background-image:url(img/wall-bg.png)">
    <div class="container">
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="/">Главная</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li><a href="/partners.html">Партнерам и дизайнерам</a></li>
            </ul>
            <div class="login">
                <i class="fa fa-user" aria-hidden="true"></i>
                <a href="#sign" class="sign-in" data-toggle="modal">вход</a>
                <a href="#sign" class="register" data-toggle="modal">регистрация</a>
            </div>
        </div>
        <h2>партнерам и дизайнерам</h2>
        <div class="tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#partners-tab1" role="tab" data-toggle="tab">партнерам</a></li>
                <li><a href="#partners-tab2" role="tab" data-toggle="tab">дизайнерам</a></li>
            </ul>
            <div class="tab-content">
                <article role="tabpanel" class="tab-pane active" id="partners-tab1">
                    <h3 class="yellow">Ищете <span>надежного</span> и <span>добросовестного</span> поставщика?<br>Тогда вам с нами по пути!</h3>
                    <p>Сейчас рынок полон всевозможными предложениями сотрудничества и оптовых поставок ламината. Наша цель развитие долгосрочного и взаимовыгодного сотрудничества.</p>
                    <br>
                    <b>Оцените плюсы:</b>
                    <ol>
                        <li>Минимальный заказ от 1 упаковки.</li>
                        <li>Быстрая доставка</li>
                        <li>Высокая маржинальность</li>
                        <li>Уверенность в качестве товара</li>
                        <li>Уверенность в порядочности сотрудничества.</li>
                        <li>Оперативная связь наших менеджеров</li>
                        <li>Разработка качественного контента для партнёров</li>
                    </ol>
                    <br>
                    <b>Ближе к делу!</b>
                    <p>Принцип работы прост:</p>
                    <ol>
                        <li>Поступил заказ. Вы отправляете заявку нашим менеджерам</li>
                        <li>Менеджер определяет наиболее ближайший склад в вашем регионе</li>
                        <li>Клиент оплачивает заказ по выставленному счету</li>
                        <li>По факту получения доставки и выгрузки документов заказ считается выполненным</li>
                    </ol>
                    <br>
                    <b>Что вам требуется для обработки заказа:</b>
                    <ol>
                        <li>Качественная сотовая и интернет связь</li>
                        <li>Торговая площадка</li>
                        <li>Желание работать и зарабатывать</li>
                    </ol>
                    <b>В остальном мы вам поможем.</b>
                    <br>
                    <br>
                    <b>Что мы можем предложить со своей стороны:</b>
                    <ol>
                        <li>Эксклюзивность бренда.</li>
                        <li>Высокая маржинальность</li>
                        <li>Действующая программа «Защита проекта»</li>
                        <li>Регулярное пополнение складов,</li>
                        <li>Оформление мест продаж (стенды, образцы, рекламные материалы).</li>
                        <li>Совместные маркетинговые мероприятия.</li>
                        <li>Пред и пост - продажный сервис.</li>
                        <li>Выполнение гарантийных обязательств.</li>
                        <li>Защита интересов своих партнеров.</li>
                        <li>Хорошо развитая логистика</li>
                    </ol>
                    <br>
                    <b>Согласитесь, что не каждый день вы видите такое предложение.</b>
                    <p>Не раздумывайте и свяжитесь с нами или запросите обратный звонок.</p>
                    <p>Мы вас не разочаруем!</p>
                    <br>
                    <b>Наши контакты:</b>
                    <p>г. Дзержинский, <span>ул.Энергетиков, д.24</span></p>
                    <p><span>Телефон: +7(495)778-56-86,</span> <span>+7(495)778-52-23,</span> <span>моб : 8-968-573-11-92</span></p>
                    <p>Наш сайт : www.biela.ru</p>
                    <br>
                    <b>С уважением к Вам,</b>
                    <b>Менеджер отдела продаж</b>
                    <br>
                    <div class="wrap">
                        <a href="#callback" class="btn" data-toggle="modal">Свяжитесь с нами<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                </article>

                <article role="tabpanel" class="tab-pane" id="partners-tab2">
                    <p>Так как компания «BielAlliance» спустя долгие годы деятельности на рынке зарекомендовала себя как надежный импортер мирового уровня, мы рады компетентным специалистам и представителям.</p>
                    <br>
                    <p>Компания открыта к сотрудничеству для амбициозных и талантливых дизайнеров, со своей стороны мы предлагаем выгодные условия взаимодействия, надежную поддержку и лучшие базы для работы.</p>
                    <br>
                    <p>Мы предоставляем лучшие материалы для комфортной и продуктивной работы в графических редакторах. Таким образом, дизайнеру предоставляется возможность напрямую сотрудничать с потенциальным клиентом, наглядно показывать ему возможные результаты перспективных работ.</p>
                    <br>
                    <p><span class="yellow">«BielAlliancе» - предлагает лучшее для развития и роста.</span> Мы заинтеересованы в сотрудничестве с интересными дизайнерами, их оригинальными идеями и целями. В свою же очередь, мы гарантируем поддержку и привлекательные условия сотрудничества!</p>
                    <br>
                    <div class="wrap">
                        <a href="#lets-meet" class="btn" data-toggle="modal">Давайте познакомимся<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        <a href="#" class="btn btn-invert"><i class="fa fa-download" aria-hidden="true"></i>Скачать<br style="display:none"> векторные материалы</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
