<section class="product-content" style="background-image:url(img/product-bg.jpg)">
    <div class="container">
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="/">Главная</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li><a href="/catalog.html">Каталог</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li><a href="/product.html">Ламинат CBM Koruna “814 Дуб Крумлов”</a></li>
            </ul>
        </div>
        <h2>Ламинат CBM Koruna “814 Дуб Крумлов”</h2>
        <div class="row">
            <div class="col-md-6 col-sm-8">
                <div id="product-slider-full" class="owl-carousel">
                    <img src="img/product-slide.jpg" alt="">
                    <img src="img/product-slide.jpg" alt="">
                    <img src="img/product-slide.jpg" alt="">
                </div>

                <div id="product-slider-thumb" class="owl-carousel">
                    <img src="img/product-slide-thumb1.jpg" alt="">
                    <img src="img/product-slide-thumb2.jpg" alt="">
                    <img src="img/product-slide-thumb3.jpg" alt="">
                </div>

                <div class="v-lg">
                    <div class="laying">
                        <p>Вид укладки</p>
                        <div class="wrap">
                            <img src="img/laying1.png" alt="">
                            <img src="img/laying2.png" alt="">
                            <img src="img/laying3.png" alt="">
                            <img src="img/laying4.png" alt="">
                            <img src="img/laying5.png" alt="">
                            <img src="img/laying6.png" alt="">
                            <img src="img/laying7.png" alt="">
                            <img src="img/laying8.png" alt="">
                            <img src="img/laying9.png" alt="">
                            <img src="img/laying10.png" alt="">
                            <img src="img/laying11.png" alt="">
                            <img src="img/laying12.png" alt="">
                            <img src="img/laying13.png" alt="">
                            <img src="img/laying14.png" alt="">
                        </div>
                    </div>

                    <div class="product-advantages">
                        <div class="item">
                            <img src="img/product-advantages1.png" alt="">
                            <p>Доставка в<br> любую точку<br> РФ</p>
                        </div>
                        <div class="item">
                            <img src="img/product-advantages2.png" alt="">
                            <p>Высокий<br> уровень<br> доверия</p>
                        </div>
                        <div class="item">
                            <img src="img/product-advantages3.png" alt="">
                            <p>Гарантия<br>25 лет</p>
                        </div>
                    </div>
                </div>
                <div class="v-sm">
                    <div class="product-info">
                        <table>
                            <tr>
                                <td>Коллекция</td>
                                <td>Koruna</td>
                            </tr>
                            <tr>
                                <td>Артикул</td>
                                <td>814</td>
                            </tr>
                            <tr>
                                <td>Цвет</td>
                                <td>Дуб Крумлов</td>
                            </tr>
                            <tr>
                                <td>Размер</td>
                                <td>606х101х12 мм</td>
                            </tr>
                            <tr>
                                <td>Класс</td>
                                <td>33 класс</td>
                            </tr>
                            <tr>
                                <td>Вид фаски (кромки)</td>
                                <td>V-Groove <button class="product-question"><i class="fa fa-question-circle" aria-hidden="true"></i></button></td>
                            </tr>
                            <tr>
                                <td>Вид замков</td>
                                <td>Single Click <button class="product-question"><i class="fa fa-question-circle" aria-hidden="true"></i></button></td>
                            </tr>
                            <tr>
                                <td>Досок в упаковке</td>
                                <td>36 штук</td>
                            </tr>
                            <tr>
                                <td>Подложка</td>
                                <td>Вспененный винил</td>
                            </tr>
                            <tr>
                                <td>В упаковке</td>
                                <td id="in-pack">2.5 м2</td>
                            </tr>
                            <tr>
                                <td>В паллете</td>
                                <td>?? м2</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="price">
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-7 col-xs-6">Цена</div>
                                            <div class="col-lg-6 col-sm-5 col-xs-6"><b>1700</b> <span>руб/м2</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-7 col-xs-6">Цена за упаковку</div>
                                            <div class="col-lg-6 col-sm-5 col-xs-6"><b>1700</b> <span>руб</span></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Гарантия</td>
                                <td>25 лет <button class="product-question"><i class="fa fa-question-circle" aria-hidden="true"></i></button></td>
                            </tr>
                        </table>
                        <div class="calculator">
                            <h3>Калькулятор закупки</h3>
                            <p class="raspberry">Введите метраж вашей комнаты:</p>
                            <div class="input-group">
                                <label for="room-width">Ширина</label>
                                <input id="room-width" class="room-width" type="text" placeholder="0">
                            </div>
                            <i class="input-group-divider">x</i>
                            <div class="input-group">
                                <label for="room-length">Длина</label>
                                <input id="room-length" class="room-length" type="text" placeholder="0">
                                <p>м2</p>
                            </div>
                            <p class="raspberry">Запас:</p>
                            <div class="stock">
                                <input id="stock-4" type="radio" name="stock-sm" value="1" checked="checked">
                                <label for="stock-4">+5%</label>
                                <input id="stock-5" type="radio" name="stock-sm" value="2">
                                <label for="stock-5">+10%</label>
                                <input id="stock-6" type="radio" name="stock-sm" value="3">
                                <label for="stock-6">+15%</label>
                            </div>
                            <div class="total">
                                <b>итого:</b><input type="text" id="total" value="0"><p>требуется упаковок</p>
                            </div>
                            <button class="btn"><i class="fa fa-shopping-basket right" aria-hidden="true"></i>в корзину</button>
                        </div>
                        <div class="product-info-footer">
                            <p>Возникли вопросы? Обратитесь к нашим консультантам</p>
                            <a href="#callback" data-toggle="modal" class="btn btn-invert"><i class="fa fa-phone" aria-hidden="true"></i>Заказать обратный звонок</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-4">
                <div class="v-lg">
                    <div class="product-info">
                        <table>
                            <tr>
                                <td>Коллекция</td>
                                <td>Koruna</td>
                            </tr>
                            <tr>
                                <td>Артикул</td>
                                <td>814</td>
                            </tr>
                            <tr>
                                <td>Цвет</td>
                                <td>Дуб Крумлов</td>
                            </tr>
                            <tr>
                                <td>Размер</td>
                                <td>606х101х12 мм</td>
                            </tr>
                            <tr>
                                <td>Класс</td>
                                <td>33 класс</td>
                            </tr>
                            <tr>
                                <td>Вид фаски (кромки)</td>
                                <td>V-Groove <a href="#chamfer" class="product-question" data-toggle="modal"><i class="fa fa-question-circle" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td>Вид замков</td>
                                <td>Single Click <a href="#lock" class="product-question" data-toggle="modal"><i class="fa fa-question-circle" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td>Досок в упаковке</td>
                                <td>36 штук</td>
                            </tr>
                            <tr>
                                <td>Подложка</td>
                                <td>Вспененный винил</td>
                            </tr>
                            <tr>
                                <td>В упаковке</td>
                                <td id="in-pack">2.668 м2</td>
                            </tr>
                            <tr>
                                <td>В паллете</td>
                                <td>?? м2</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="price">
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-7 col-xs-6">Цена</div>
                                            <div class="col-lg-6 col-sm-5 col-xs-6"><b>1700</b> <span>руб/м2</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-7 col-xs-6">Цена за упаковку</div>
                                            <div class="col-lg-6 col-sm-5 col-xs-6"><b>1700</b> <span>руб</span></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Гарантия</td>
                                <td>25 лет <button class="product-question"  data-trigger="focus" tabindex="0"><i class="fa fa-question-circle" aria-hidden="true"></i></button></td>
                            </tr>
                        </table>
                        <div class="calculator">
                            <h3>Калькулятор закупки</h3>
                            <p class="raspberry">Введите метраж вашей комнаты:</p>
                            <div class="input-group">
                                <label for="room-width">Ширина</label>
                                <input id="room-width" type="text" class="room-width" placeholder="0">
                            </div>
                            <i class="input-group-divider">x</i>
                            <div class="input-group">
                                <label for="room-length">Длина</label>
                                <input id="room-length" type="text" class="room-length" placeholder="0">
                                <p>м2</p>
                            </div>
                            <p class="raspberry">Запас:</p>
                            <div class="stock">
                                <input id="stock-1" type="radio" name="stock" value="1" checked="checked">
                                <label for="stock-1">+5%</label>
                                <input id="stock-2" type="radio" name="stock" value="2">
                                <label for="stock-2">+10%</label>
                                <input id="stock-3" type="radio" name="stock" value="3">
                                <label for="stock-3">+15%</label>
                            </div>
                            <div class="total">
                                <b>итого:</b><input type="text" id="total" value="0"><p>требуется упаковок</p>
                            </div>
                            <button class="btn"><i class="fa fa-shopping-basket right" aria-hidden="true"></i>в корзину</button>
                        </div>
                        <div class="product-info-footer">
                            <p>Возникли вопросы? Обратитесь к нашим консультантам</p>
                            <a href="#callback" data-toggle="modal" class="btn btn-invert"><i class="fa fa-phone" aria-hidden="true"></i>Заказать обратный звонок</a>
                        </div>
                    </div>
                </div>
                <div class="v-sm">
                    <div class="laying">
                        <p>Вид укладки</p>
                        <div class="wrap">
                            <img src="img/laying1.png" alt="">
                            <img src="img/laying2.png" alt="">
                            <img src="img/laying3.png" alt="">
                            <img src="img/laying4.png" alt="">
                            <img src="img/laying5.png" alt="">
                            <img src="img/laying6.png" alt="">
                            <img src="img/laying7.png" alt="">
                            <img src="img/laying8.png" alt="">
                            <img src="img/laying9.png" alt="">
                            <img src="img/laying10.png" alt="">
                            <img src="img/laying11.png" alt="">
                            <img src="img/laying12.png" alt="">
                            <img src="img/laying13.png" alt="">
                            <img src="img/laying14.png" alt="">
                        </div>
                    </div>

                    <div class="product-advantages">
                        <div class="item">
                            <img src="img/product-advantages1.png" alt="">
                            <p>Доставка в<br> любую точку<br> РФ</p>
                        </div>
                        <div class="item">
                            <img src="img/product-advantages2.png" alt="">
                            <p>Высокий<br> уровень<br> доверия</p>
                        </div>
                        <div class="item">
                            <img src="img/product-advantages3.png" alt="">
                            <p>Гарантия<br>25 лет</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<div class="modal fade" id="chamfer" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <div class="modal-body">
                <h4>вид фаски</h4>
                <img src="img/chamfer.png" alt="">
                <span>V-образные канавки</span>
                <p>в местах соединения панелей</p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="lock" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <div class="modal-body">
                <h4>вид замков</h4>
                <img src="img/lock.png" alt="">
                <span>Single Click</span>
                <p>Прочный бесклеевой замок</p>
            </div>
        </div>
    </div>
</div>
<script>
$('.product-question').click(function(){
    $(this).popover({
        content: 'Для отправки заказа, заполните <a href="<?= $account ?>" style="color:#dc1f3e">профиль</a>',
        placement: 'top',
        html: true
    });
    $(this).popover('show');

})
</script>
