<section class="team" style="background-image: url(img/cell-bg.png);">
    <h2>лица нашей компании</h2>
    <div class="container">
        <div class="item">
            <div class="img-wrap"><img src="img/team1.jpg" alt=""></div>
            <h3>имя фамилия</h3>
            <p>Должность</p>
        </div>
        <div class="item">
            <div class="img-wrap"><img src="img/team2.jpg" alt=""></div>
            <h3>имя фамилия</h3>
            <p>Должность</p>
        </div>
        <div class="item">
            <div class="img-wrap"><img src="img/team3.jpg" alt=""></div>
            <h3>имя фамилия</h3>
            <p>Должность</p>
        </div>
    </div>

</section>
